/* tells browser to fix box model calculations */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS Variables*/
:root{
  --stone: #efece7;
  --gold: #9c7d51;
  --sky: #bcc9bf;
  --sage: #89886a;
  --pine: #122b18;
  }

/* Nav Bar styles */
.header {
    background-color: var(--sage);
    color: var(--stone);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-family: 'La Luxes Serif';
    font-weight: normal;
    font-style: normal;  
    src: url('LaLuxesSerif.woff2') format('woff2'),
        url('LaLuxesSerif.woff') format('woff');
   }

.header nav {
    float: right;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 20px; 
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
.header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: underline;
  }


a {
    color: var(--stone);
    text-decoration: none;
}

/* Hero/Jumbotron */
.hero {
  background-image: url("../images/tree.jpg");
  background-size: cover;
  background-position: center;
  height: 175px;
  margin-bottom: 25px;
  width: 100%;
}

.hero h2 {
    color: var(--stone);
    font-family: 'La Luxes Serif';
    font-weight: bolder;
    font-style:normal;  
    src: url('LaLuxesSerif.woff2') format('woff2'),
        url('LaLuxesSerif.woff') format('woff');
}

.hero{
    position: relative;
}

.bottom-right-corner {
    position: absolute;
    bottom: 10px;
    right: 15px;
 }

/* BODY */

/* Sets background color */
body {
  background-color: var(--stone);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 80%;
  /* center on page using auto for left/right */
  margin: 50px auto;
  /* add padding so html inside has space */
  padding: 20px;
}

h2 {
  color:var(--pine);
  font-family: 'La Luxes Serif';
  font-weight: bolder;
  font-style: normal;  
  src: url('LaLuxesSerif.woff2') format('woff2'),
  url('LaLuxesSerif.woff') format('woff');
}

/* About Me */
/* flex parent */
.about-me-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* flex child */
.about-me{
  width: 80%;
  margin-bottom: 1px;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-me {
  margin-bottom: 15px;
  padding: 20px 0;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-me-text p {
  color: var(--pine);
  font-size: 18px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

 /* Work */
 /* flex parent */
.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* flex child */
.work {
  width: 80%;
  margin-bottom: 15px;
  padding: 20px 0;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


 /* Contact */
.contact a{
  color: var(--pine);
  font-family: Arial, sans-serif;
}

.contact ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  }
    
.contact ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-decoration: underline;
  font-size: 18px;
  color: var(--pine);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
 
/* flex parent */ 
.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  }
    
/* flex child */
.contact {
  width: 80%;
  margin-bottom: 1px;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  }
    


