/* tells browser to fix box model calculations */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS Variables*/
:root{
    --stone: #efece7;
    --gold: #9c7d51;
    --sky: #bcc9bf;
    --sage: #89886a;
    --pine: #122b18;
  }

/* Sets background color */
body {
    background-color: var(--stone);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Nav Bar styles */
.header {
    background-color: var(--sage);
    color: var(--stone);
    font-family: Arial, sans-serif;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-family: 'La Luxes Serif';
    font-weight: normal;
    font-style: normal;  
    src: url('LaLuxesSerif.woff2') format('woff2'),
        url('LaLuxesSerif.woff') format('woff');
   }

.header nav {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 20px; 
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
.header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: underline;
  }


a {
    color: var(--stone);
    text-decoration: none;
}

/* Hero/Jumbotron */
.hero {
    background-image: url("../images/tree.jpg");
    background-size: cover;
    background-position: center;
    height: 175px;
    margin-bottom: 25px;
    width: 100%;
}
.hero h2 {
    color: var(--stone);
    font-family: 'La Luxes Serif';
    font-weight: normal;
    font-style: normal;  
    src: url('LaLuxesSerif.woff2') format('woff2'),
        url('LaLuxesSerif.woff') format('woff');
}
.hero{
    position: relative;
}
.bottom-right-corner {
    position: absolute;
    bottom: 10px;
    right: 19px;
 }

 /* Body */
.about-me {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: space-around;
  }
  
  .about-me:last-child {
    border-bottom: none;
  }
  
  .about-me h2 {
    color:var(--pine);
    font-family: 'La Luxes Serif';
    font-weight: bolder;
    font-style: normal;  
    src: url('LaLuxesSerif.woff2') format('woff2'),
    url('LaLuxesSerif.woff') format('woff');
    flex: 1 30%;
  }
  
  .step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .about-me-img {
    flex: 1 12%;
    margin-right: 20px;
  }
  
  .about-me-img img {
    max-width: 80%;
    border-radius: 50%
  }
  
  .about-me-text {
    flex: 12;
  }
  
  .about-me-text p {
    color: var(--pine);
    font-size: 18px;
    font-family: Arial, sans-serif;
  }

 /* Footer */
.footer a{
    color: var(--pine);
    font-family: Arial, sans-serif;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    }
      
.footer ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: underline;
    text-align:center;

      }

      .contact {
        margin: 50px auto;
        padding-bottom: 50px;
        width: 80%;
        display: flex;
        flex-wrap: nowrap;
        align-items:center;
        justify-content: space-around;
      }
      
      .contact:last-child {
        border-bottom: none;
      }
      
      .contact h2 {
        color:var(--pine);
        font-family: 'La Luxes Serif';
        font-weight: bolder;
        font-style: normal;  
        src: url('LaLuxesSerif.woff2') format('woff2'),
        url('LaLuxesSerif.woff') format('woff');
        flex: 1 30%;
      }
      
      .contact {
        flex: 2 70%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }